*{
  padding: 0;
  margin: 0;
}
body{
  background-color:hsla(240,100%,50%,0.5)
}

header{
  width: 100%;
}
header img{
  display: block;
  width: 100%;
  height: auto;
  border-bottom: 4px solid blue;
  margin-bottom: 40px
}

h2{
color: white;
position:absolute;
top: 0;
font-size: 25px;
font-family: monospace;
background-color:hsla(280,100%,50%,0.5);
text-align: center;
width: 100%;
line-height: 6rem;
animation: color infinite 8s;
}

.infos{
    width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}


.middle{
  width: 80%;
  min-width: 520px;
  max-width: 800px;
  height: 370px;
  margin: auto;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.re{
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

h4{
  text-align: center;
  color: blue;
  font-size: 2rem;
  animation: fontcolor infinite 8s;
  border: 1px solid blue;
}

#r{
  margin-top: 20px;
  width: 40%;
  visibility: hidden;
  float: right;
  margin-right: 5.5px;
  transform: rotate(270deg);
}

.volume{
  width: 40px;
  height: 40px;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}
.volume img {
  width: 70%;
  height: auto;
}


.h{
  width: 100%;
}

.pl{
  float: right;
  display: flex;
  flex-direction: column;
}
.bild{
  text-align: center;
  margin-left: -0.2px;
  width: 310px;
  height: 290px;
  border-bottom: 8px solid black;
}
.links img{
  width: 120px;
  height: auto;

}

.rechts img{
width: 70%;
height: auto;
flex-direction: row;
align-items: center;
}
.rechts button{
  width: 50px;
  height: 50px;
}
.rechts{
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color: black;

}


.unten{
border-left: 10px solid black;
border-top : 10px solid black;
border-bottom: 10px solid black;
display: flex;
flex-direction: column;
background-color: hsla(240,100%,50%,0.5);

}
.start{
  padding-right: 5px;
  font-size: 14px;
  text-align: center;
}

.rangebar{
    margin-top: 100px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.la{
  padding-left:5px;
  flex-direction: row;
  align-items: center;
}

.zeit{
  position:absolute;
  width: 100%;
  top:0;
  color: white;
  font-family: 'Orbitron', sans-serif;
  margin-left: 10pX;
  line-height: 3rem;
}

.links{
  border: 3px solid black;
  background-color: white;
  float: right;
  margin-right: 10px;
  line-height: 1rem;

}

footer{
margin-top: 50px;
  width: 100%;
  height: 400PX;
  background-color: blue;
}


@keyframes color {
  0%  {background-color:hsla(260,100%,50%,0.5);}
  50% {background-color:hsla(280,100%,50%,0.5); }
  100%{background-color:hsla(260,100%,50%,0.5);}
}
h3{
  overflow: hidden;
  font-family: monospace;
  white-space: nowrap;
  width: 100%;
  animation: textwriting  infinite 9s steps(55);
}

@keyframes textwriting {
  0%{
    width: 0ch;
  }
  50%{
    width: 64ch;

  }
  100%{
    width: 64ch;
  }

}

.a:before{
  content: '';
  animation: animate infinite 6s;
}

@keyframes animate {
  0%{
    content: 'Rap'
  }
  40%{
    content: 'Pop'
  }
  70%{
    content: 'Trap'
  }
}

@keyframes fontcolor {
  0%  {color: hsla(260,100%,50%,1);border-color:hsla(260,100%,50%,1);}
  50% {color:hsla(270,100%,50%,1);border-color:hsla(270,100%,50%,1);}
  100%{color:hsla(260,100%,50%,1);border-color:hsla(260,100%,50%,1);}
}
