*{
  margin: 0;
  padding: 0;
}

h1{
border: 3px solid black;
width: 100%;
text-align: center;
background-color: blue;
}
table{
  width: 100%;
padding: 20px;
}
img{
  width: 100px;
  height: 100px;
}
h2{
  text-align: center;
}
